.DS_Store
*.swp

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
